
  .navbar {
    border: 0;
    font-size: 12px;
    letter-spacing: 3px;
    color: #1abc9c;
     }

     .nav-item {
        font-size: 20px;
        padding: 15px;
        color: #1abc9c
     }

     .nav-link-active {
        color: #1abc9c;
     }

     a:active {
        color: #1abc9c;
     }
  
   a:link {
    color:#1abc9c 
  }
  
  a:visited {
    color: #1abc9c;
  }

  a:hover {
    color: palevioletred;
  }

  a {
    text-decoration: none;
    color: #1abc9c;
  }

  .name {
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    text-shadow: 2px 2px #024739;
  }
  
  .heading {
    font-family: 'Permanent Marker', cursive;
  }

  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }

  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

